* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.scrollableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Set a specific height for the container */
    overflow: auto; /* Add scrollbars when content overflows */
    margin: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-title {
    font-size: 2rem;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.crimeexpTable {
    width: 100%;
    text-align: center;
    margin: 0 auto; /* Center the table within the container */
  }
.nav a.active {
    color: rgb(0, 200, 210);
}
.nav li:hover {
    background-color: aqua;
}
